<nav class="navbar navbar-expand-md justify-content-center">
    <ul class="m-3 navbar-nav">
        <li class="mr-5 nav-item"><a class="nav-link" asp-controllers="Home" asp-action="Index">Startsida</a></li>
        <li class="mr-5 nav-item"><a class="nav-link" asp-controllers="Home" asp-action="Menu">Meny</a></li>
        <li class="mr-5 nav-item"><a class="nav-link" asp-controllers="Home" asp-action="BookTable">Boka bord</a></li>
        <li class="mr-5 nav-item"><a class="nav-link" asp-controllers="Home" asp-action="ChangeMenu">Ändra menyn</a></li>
    </ul>
</nav>