
@{
}
<partial name="../Shared/_MainHeaderPartial.cshtml" />
<div id="infoText">
    <p>Morbi tempor congue nunc a mattis. Aenean at mauris egestas, ornare enim a, mollis massa. Phasellus suscipit elementum nulla a elementum. Phasellus lacinia tempor dictum. Nam sodales risus ac imperdiet pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi feugiat consequat maximus.</p>
    <p>Vivamus interdum luctus ornare. Nullam vitae suscipit libero. Aliquam non est scelerisque, viverra risus ut, condimentum ex. Nam semper nunc tincidunt ipsum lobortis dapibus.</p>
</div>
<div id="picturesStartPage">
    <img src="~/images/startimg1.jpg" alt="Två tallrikar mat som ska serveras" class="w-30"/>
    <img src="~/images/startimg2.jpg" alt="Baguette på skärbräda" class="w-30"/>
    <img src="~/images/startimg3.jpg" alt="sällskap som dricker vin" class="w-30"/>
    <img src="~/images/startimg4.jpg" alt="Club sandwich på skräbräda" class="w-30"/>
    <img src="~/images/startimg5.jpg" alt="Två tomma vinglas" class="w-30"/>
    <img src="~/images/startimg6.jpg" alt="Pizza" class="w-30"/>
</div>